{% extends "layout.html" %}

{% block title %}
Chai aur tweet
{% endblock %}

{% block content %}
<h1 class="text-center mt-6" style="margin-top: 80px;">Welcome to Tweet4U</h1>



<a class="btn btn-primary mb-4" href="{% url 'tweet_create' %}">Create a tweet</a>

<!-- Search Results -->
{% if query %}
<h3 class="mb-4">Search results for: <strong>{{ query }}</strong></h3>
{% endif %}

<div class="container row gap-3">
    {% for tweet in tweets %}
    <div class="card" style="width: 18rem;">
        <img src="{{ tweet.photo.url }}" class="card-img-top" alt="Tweet Image">
        <div class="card-body">
            <h5 class="card-title">{{ tweet.user.username }}</h5>
            <p class="card-text">{{ tweet.text }}</p>
            {% if tweet.user == user %}
            <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
    </div>

    {% empty %}
    <!-- No Tweets Found -->
    <div class="alert alert-warning" role="alert">
        No tweets found. Try another search.
    </div>
    {% endfor %}
</div>

{% endblock %}
